*{
    padding: 10px;
    margin: 10px;
}

body {
    background-color: lightcoral;
}

.container{
    width: 80%;
    min-height: 400px;
    background-color: aquamarine;
    color: darkblue;
    margin: 10px auto;
    text-align: center;
}

.container h1{
    text-shadow: 1px solid black;
}
.list {
    list-style-type: square;
    margin-left: 10px;
}